<!DOCTYPE html>
<html lang="en">
    

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link type="text/css" rel="stylesheet" href="/public/css/sidebar.css">
        <link rel="stylesheet" href="/public/css/invoice.css">
        <script type="text/javascript" src="/public/js/function.js"></script>
        <title>Dashboard</title>
      </head>        
      <script src="/public/js/"></script>

<body style="background-color: white;">

    <%- include('layouts/header'); -%>
    <nav class="navbar navbar-expand-lg navbar-dark nav2" aria-label="Tenth navbar example">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse justify-content-md-center " id="navbarsExample08">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown08">
                  <li><a class="dropdown-item" href="/dashboard/profile">Profile</a></li>
                  <li><a class="dropdown-item" href="/dashboard/change-password/">Change password</li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/schoolfees">Schoool fees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/course-registration">Course registration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/dashboard/hostel">Hostel accomodation</a></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/result">Results</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
<div class="body">        

    <h class="header">
        <h1>University of Nigeria Nsukka</h1>

        <H2 style="text-align: center; background: none; font-size: 22px;">HOSTEL FEES INVOICE</H2>
    
        <span>
            <img src="/public/images/school_logo.gif" alt="PROJECTPIC">
        </span>
    </h>
        <h2>PAYER INFORMATION</h2>
        <table classinventory class="meta">
            <tr>
                <th>
                <span contenteditable="">NAME</span>
                </th>
                <td>
                    <span contenteditable=""><%=studentInfo[0].surName %> <%=studentInfo[0].firstName %> <%=studentInfo[0].middleName %>
                    </span>
                </td>
            </tr>
            <tr>
                <th>
                    <span contenteditable="">EMAIL</span>
                </th>
                    <td>
                        <span contenteditable=""><%=studentInfo[0].email %></span>
                    </td>
            </tr>
            <tr>
                <th>
                    <span contenteditable="">PHONE NUMBER</span>
                </th>
                    <td>
                        <span id="prefix" contenteditable=""><%=studentInfo[0].phone %></span>
                    </td>
            </tr>
        </table>
        <div><br><br><br><br><br><br>
            <h3>PAYMENT DETAILS</h3></div>
        <table class="inventory">
            <thead>
                <tr>
                    <th>
                        <span contenteditable="">PAYMENT DATE</span>
                    </th>
                    <th>
                        <span contenteditable="">PAYMENT REF</span>
                    </th>
                    <th>
                        <span contenteditable="">SERVICE DESCRIPTION</span>
                    </th>
                    <th>
                        <span contenteditable="">AMOUNT(NGN)</span>
                    </th>
                    </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        
                        <span contenteditable="">20/08/2021</span>
                    </td>
                    <td>        
                        <span contenteditable=""><%=hostel_Invoice[0].id %></span>
                    </td>
                    <td>    
                        <span contenteditable="">HOSTEL FESS</span>
                    </td>
                    <td> 
                        <span contenteditable="">20,000.00</span>
                    </td>
                    
                </tr></tbody>
        </table>
        <table class="inventory">
            <thead>
                <tr>
                    <th>
                        <span contenteditable="">SESSION</span>
                    </th>
                    <th>
                        <span contenteditable="">LEVEL</span>
                    </th>
                    <th>
                        <span contenteditable="">FACULTY</span>
                    </th>
                    <th>
                        <span contenteditable="">DEPARTMENT</span>
                    </th>
                    <th>
                        <span contenteditable="">HOSTEL</span>
                    </th>
                    <th>
                        <span contenteditable="">ROOM NUMBER</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        
                        <span contenteditable=""><%=hostel_Invoice[0].session %> </span>
                    </td>
                    <td>        
                        <span contenteditable=""><%=hostel_Invoice[0].level %></span>
                    </td>
                    <td>    
                        <span contenteditable=""><%=studentInfo[0].faculty %></span>
                    </td>
                    <td> 
                        <span contenteditable=""><%=studentInfo[0].department %></span>
                    </td>
                    <td>    
                        <span contenteditable=""><%=hostel_Invoice[0].hostel %></span>
                    </td>
                    <td> 
                        <span contenteditable=""><%=hostel_Invoice[0].room %></span>
                    </td>
                   

                </tr></tbody>
        </table>
        <table class="balance">
                <tr>
                    <th>
                        
                        <span contenteditable="">TOTAL PAID</span>
                    </th>   
                    <td>    
                        <span contenteditable="">20,214.22</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span contenteditable="">TOTAL AMOUNT</span>
                    </th>
                    <td>    
                        <span contenteditable="">20,214.22</span>
                    </td>
                </tr>
                <tr>
                    <th>
                    <span contenteditable="">BALANCE DUE</span>
                    </th>
                    <td>
                        <span>0.00</span>
                    </td>
                </tr>
            </table>
            <table></table>
            <br><br><br>
            <h2>BILLER REQUIRED INFORMATION</h2>
            <br>
            <h2>PAYMENT CHANNEL INFORMATION</h2>
            <table class="inventory">
                <thead>
                    <tr>
                        <th>
                            <span contenteditable="">PAYMENT CHANNEL</span>
                        </th>
                        <th>
                            <span contenteditable="">AUTHORIZATION REF</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span contenteditable="">Card Payment</span>
                        </td>
                        <td>        
                            <span contenteditable=""><%=hostel_Invoice[0].id %> -</span>
                        </td>
                    </tr></tbody>
            </table>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html> 