<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>
<link rel="stylesheet" type="text/css" href="/public/css/result.css">

    <body style="background-color: white;">

        <%- include('layouts/header'); -%>

            
        <div class="sidebar-main" id="mysidebar">
            <nav class="sidebar-nav">
        
              <ul class="sidebar">
                <li><a href="/dashboard/profile">profile</a>
                    <ul>
                        <li>
                            <a href="/dashboard/change-password/">   change password
                        </li>
                    </ul>
                </li>
                <li><a href="/dashboard/schoolfees">schoool fees</a></li>
                <li class="current_side"><a href="/dashboard/course-registration">course registration</a>
                <li ><a href="/dashboard/hostel">hostel accomodation</a></li>
                <li ><a href="/dashboard/result">results</a></li>
                <li><a href="/auth/logout">logout</a></li>
              </ul>
        
            </nav>
          </div>
<div class="bod">
    <header>
        <h1 style="background-color: rgb(25, 46, 68);">STUDENT'S COURSE REGISTRATION</h1>
    </header>
            <table classinventory class="meta" style="height: auto; border: none;">
            
                <tr>
                    <th>
                    <span class='contenteditable'>NAME <strong>:</strong></span>
                    </th>
                    <td>
                        <span contenteditable class='contenteditable'> <%=studentInfo[0].surName %>
                            <%=studentInfo[0].firstName %>
                                <%=studentInfo[0].middleName %></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class='contenteditable'>REG NUMBER <strong>:</strong></span>
                    </th>
                        <td>
                            <span class='contenteditable'> <%=studentInfo[0].userid.username %>
                            </span>
                        </td>
                </tr>
                <tr>
                    <th>
                        <span class='contenteditable'>DEPARTMENT <strong>:</strong></span>
                    </th>
                        <td>
                            <span id="prefix" class='contenteditable'><%=studentInfo[0].department %></span>
                        </td>
                </tr> 
                <tr>
                    <th>
                        <span class='contenteditable'>LEVEL <strong>:</strong></span>
                    </th>
                        <td>
                            <span id="prefix" class='contenteditable'><%=cosreg[0].level %></span>
                        </td>
                </tr>
                <tr>
                    <th>
                        <span class='contenteditable'>SESSION <strong>:</strong></span>
                    </th>
                        <td>
                            <span id="prefix" class='contenteditable'><%=cosreg[0].session %></span>
                        </td>
                </tr>
                <tr>
                    <th>
                        <span class='contenteditable'>SEMESTER <strong>:</strong></span>
                    </th>
                        <td>
                            <span id="prefix" class='contenteditable'> <%=cosreg[0].semester %></span>
                        </td>
                </tr>
                
            </table>
            <img src="/public/<%= studentInfo[0].image %>" style="height: 120px; width: 100px; margin-top: -250px; margin-left: 700px; margin-bottom: 100px;">

            <br><br><br><br><br>
            <table class="res" style="height: auto; border: none;">
                <thead class="thead">
                    <tr>
                        <th>
                            <span contenteditable="">COURSE CODE</span>
                        </th>
                        <th>
                            <span contenteditable="">COURSE TITLE</span>
                        </th>
                        <th>
                            <span contenteditable="">UNIT LOAD</span>
                        </th>
                        <th>
                            <span contenteditable="">APPROVED</span>
                        </th>
                     </tr>
                </thead>
                <tbody class="data">
                    <% if(cos != null && cos.length > 0){ %>
                        <% for (var i=0; i < cos.length; i++) { %>
                    
                        <tr>
                            <td>
                                
                                <span contenteditable=""><%= cos[i] %></span>
                            </td>  
                            <td>    
                                <span contenteditable=""><%= cosName[i] %></span>
                            </td> 
                            <td>    
                                <span contenteditable="">2</span>
                            </td> 
                            <td>    
                                <span contenteditable="" style="color: RED;">x</span>
                            </td>
                        </tr>
                        <% } %>

                        <% } %>
                      
                 </tbody>
            </table>
</div>           
    </body>
</div>
</html>