<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/head'); -%>

<body style="background-color: white;">

    <%- include('layouts/header'); -%>
    <!-- <form method="" action="" -->
    <%- include('layouts/sidebar'); -%>



<div class = 'course_reg' >
    <form action="/dashboard/course-registration/register/store" method="POST">
        <table style="margin-left: 300px; width: 800px;" name = 'course_reg'>
            <caption>Select courses</caption>
<% for (var i = 0; i < course.length; i++) { %>           
<tr> 
    <td>
        <label style ='border: 20px aliceblue'>
            <span class="cos" style="margin-left: 30px;"><%= course[i].courseCode %></span> <span class="cos" > <%= course[i].courseTitle %></span> <span class="cos" style="margin-left: 30px;"> <input type="checkbox" name="courses" value="<%= course[i].courseCode %>"> </span>
            </p> </label> 
    </td>
</tr>
<% } %>
        </table>
        <input type="submit" value="Register" style="margin-left: 600px; background-color: rgba(39, 39, 39, 0.918);   ">
    </form>
</div>
</body>

</html>