<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/head adim'); -%>
  <link rel="stylesheet" href="/public/css/new.css">
  <body>

    <%- include('layouts/header adim'); -%>

    <div class="container-fluid">
      <div class="row">
        <%- include('layouts/sidebar adim'); -%>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Registered Students</h1>
          </div>
          <table class="all-students" style="">
            <caption>Students</caption>  
            <thead >
        <tr>
            <th >Registration Number</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Sur Name</th>
            <th>Email</th>
            <th>Faculty</th>
            <th>Department</th>
            <th>Date of birth</th>
            <th>Sex</th>
            <th>Phone</th>
            <th>Parent</th>
            <th>State</th>
            <th>LGA</th>
        
        </tr>
        </thead>
        <% if(studentInfo != null && studentInfo.length > 0){ %>
            <% for (var i=0; i < studentInfo.length; i++) { %>
        
        <tr>
            <td> <%=studentInfo[i].userid.username %> </td>
            <td> <%=studentInfo[i].firstName %> </td>
            <td> <%=studentInfo[i].middleName %> </td>
            <td> <%=studentInfo[i].surName %> </td>
            <td> <%=studentInfo[i].email %> </td>
            <td> <%=studentInfo[i].faculty %> </td>
            <td> <%=studentInfo[i].department %> </td>
            <td> <%=studentInfo[i].DOB %> </td>
            <td> <%=studentInfo[i].sex %> </td>
            <td> <%=studentInfo[i].phone %> </td>
            <td> <%=studentInfo[i].parent %> </td>
            <td> <%=studentInfo[i].state %> </td>
            <td> <%=studentInfo[i].LGA %> </td>
        
        </tr>
        <% } %>
        
        <% } %>
          </table>
        </main>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  </body>

</html>